.pages {
    border: 1px solid white;
    padding: 0.5rem;
}

.pagination {
    margin-bottom: 2rem;
    gap: 1rem;
    justify-content: flex-end;
    width: 90%;
}

.pagination button, select {
    padding: 5px 10px;
    font-weight: 700;
    font-size: 15px;
}